<!DOCTYPE html>
<html>
<head>
    <title>Login Holcim</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="login-box">
    <h2>Sistema de Registro Holcim Costa Rica</h2>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/auth" method="POST">
        <label>Usuario</label>
        <input type="text" name="username" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit">Ingresar</button>
    </form>
</div>

</body>
</html>
